USE [master]
GO
/****** Object:  Database [BOOK_SHOP_API]    Script Date: 7/31/2025 6:57:23 PM ******/
CREATE DATABASE [BOOK_SHOP_API]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BOOK_SHOP_API', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BOOK_SHOP_API.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BOOK_SHOP_API_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\BOOK_SHOP_API_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BOOK_SHOP_API].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BOOK_SHOP_API]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [uniqueidentifier] NOT NULL,
	[StaffId] [uniqueidentifier] NOT NULL,
	[Action] [nvarchar](50) NOT NULL,
	[EntityName] [nvarchar](100) NOT NULL,
	[EntityId] [uniqueidentifier] NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[IPAddress] [nvarchar](45) NOT NULL,
	[UserAgent] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK__AuditLog__3214EC076F7A07FB] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Author] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Books](
	[Id] [uniqueidentifier] NOT NULL,
	[Isbn] [char](13) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[AuthorId] [uniqueidentifier] NOT NULL,
	[PublisherId] [uniqueidentifier] NOT NULL,
	[YearOfPublication] [smallint] NOT NULL,
	[Price] [decimal](8, 0) NOT NULL,
	[Image] [varchar](max) NULL,
	[Quantity] [int] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Book] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Customers](
	[Id] [uniqueidentifier] NOT NULL,
	[FamilyName] [nvarchar](70) NOT NULL,
	[GivenName] [nvarchar](30) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [char](10) NOT NULL,
	[Gender] [bit] NOT NULL,
	[Email] [varchar](50) NULL,
	[HashPassword] [varchar](255) NULL,
	[IsActived] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderItems]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItems](
	[OrderId] [uniqueidentifier] NOT NULL,
	[BookId] [uniqueidentifier] NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[Price] [decimal](8, 0) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [uniqueidentifier] NOT NULL,
	[StaffId] [uniqueidentifier] NULL,
	[CustomerId] [uniqueidentifier] NOT NULL,
	[PromotionId] [uniqueidentifier] NULL,
	[CreatedTime] [datetime2](7) NOT NULL,
	[ShippingFee] [decimal](11, 3) NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[TotalAmount] [decimal](11, 3) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Note] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Promotions]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Promotions](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[Condition] [decimal](8, 0) NOT NULL,
	[DiscountPercent] [decimal](3, 2) NOT NULL,
	[Quantity] [smallint] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Promotion] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Publisher] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staffs]    Script Date: 7/31/2025 6:57:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Staffs](
	[Id] [uniqueidentifier] NOT NULL,
	[FamilyName] [nvarchar](70) NOT NULL,
	[GivenName] [nvarchar](30) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[Phone] [char](10) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[CitizenIdentification] [char](12) NOT NULL,
	[HashPassword] [varchar](255) NOT NULL,
	[Role] [bit] NOT NULL,
	[Gender] [bit] NOT NULL,
	[IsActived] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AuditLogs] ([Id], [StaffId], [Action], [EntityName], [EntityId], [Description], [Timestamp], [IPAddress], [UserAgent]) VALUES (N'9caa72c9-6ae3-41f4-8918-0c9771dc0f4d', N'b1009370-afce-4e2c-9fe2-25d6a0012178', N'ADD', N'Promotion', N'da858eda-196e-45fb-8350-1845e2c67799', N'Created promotion ''Khuyến Mãi Tháng 8''', CAST(N'2025-07-31T01:16:18.5412085' AS DateTime2), N'::1', N'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36 Edg/138.0.0.0')
GO
INSERT [dbo].[Authors] ([Id], [Name], [IsDeleted]) VALUES (N'91396c60-f995-40ef-b732-2b1bc90bf66c', N'Nguyễn Nhật Ánh', 0)
INSERT [dbo].[Authors] ([Id], [Name], [IsDeleted]) VALUES (N'09189d44-9a03-44fa-a026-3704ad76ffd8', N'Thạch Lam', 0)
INSERT [dbo].[Authors] ([Id], [Name], [IsDeleted]) VALUES (N'9d988694-ec03-4141-8f41-3fddce6bf4e7', N'Nam Cao', 0)
GO
INSERT [dbo].[Books] ([Id], [Isbn], [Title], [CategoryId], [AuthorId], [PublisherId], [YearOfPublication], [Price], [Image], [Quantity], [IsDeleted]) VALUES (N'358808bc-9c89-4431-8a5f-228bbbc86a6d', N'8935212366533', N'Gió Lạnh Đầu Mùa (Tái Bản 2024)', N'e2bc6d43-b35c-4b43-9215-8e186ffa60c0', N'09189d44-9a03-44fa-a026-3704ad76ffd8', N'79994ae3-d421-4b92-b895-323c19e12db9', 2024, CAST(59000 AS Decimal(8, 0)), N'images/books/8935212366533.webp', 11, 0)
INSERT [dbo].[Books] ([Id], [Isbn], [Title], [CategoryId], [AuthorId], [PublisherId], [YearOfPublication], [Price], [Image], [Quantity], [IsDeleted]) VALUES (N'fb1e00c7-bbe2-46c4-a987-24ad892a9072', N'8934974164135', N'Làm bạn với bầu trời', N'aacac6e9-cdf4-4e53-9ddc-309e776c8612', N'91396c60-f995-40ef-b732-2b1bc90bf66c', N'79994ae3-d421-4b92-b895-323c19e12db9', 2019, CAST(92400 AS Decimal(8, 0)), N'images/books/8934974164135.webp', 27, 0)
INSERT [dbo].[Books] ([Id], [Isbn], [Title], [CategoryId], [AuthorId], [PublisherId], [YearOfPublication], [Price], [Image], [Quantity], [IsDeleted]) VALUES (N'55c70857-c0a9-4710-9ed5-34d6abb2bd10', N'8935244822571', N'Văn Học Trong Nhà Trường - Gió Lạnh Đầu Mùa (Tái Bản 2019)', N'e2bc6d43-b35c-4b43-9215-8e186ffa60c0', N'09189d44-9a03-44fa-a026-3704ad76ffd8', N'79994ae3-d421-4b92-b895-323c19e12db9', 2019, CAST(44000 AS Decimal(8, 0)), N'images/books/8935244822571.webp', 10, 0)
GO
INSERT [dbo].[Categories] ([Id], [Name], [IsDeleted]) VALUES (N'61a89505-4c2b-447d-9f06-0e8f57bd1c97', N'Phuc Nao To', 1)
INSERT [dbo].[Categories] ([Id], [Name], [IsDeleted]) VALUES (N'aacac6e9-cdf4-4e53-9ddc-309e776c8612', N'Văn Học', 0)
INSERT [dbo].[Categories] ([Id], [Name], [IsDeleted]) VALUES (N'e8afa175-56b4-467b-9b7e-65d2f2c1032f', N'Hài Hước', 0)
GO
INSERT [dbo].[Customers] ([Id], [FamilyName], [GivenName], [DateOfBirth], [Address], [Phone], [Gender], [Email], [HashPassword], [IsActived], [IsDeleted]) VALUES (N'ba12c75c-c9e1-4bb0-a928-970e24032376', N'Nguyễn Ngọc Huyền', N'Trân', CAST(N'1997-01-01' AS Date), N'Phan Thiết', N'0989098778', 1, N'nhht@gmail.com', NULL, 0, 0)
INSERT [dbo].[Customers] ([Id], [FamilyName], [GivenName], [DateOfBirth], [Address], [Phone], [Gender], [Email], [HashPassword], [IsActived], [IsDeleted]) VALUES (N'4da1e043-c6c4-4fe6-8157-c8064e17a512', N'Nguyễn', N'Phúc', CAST(N'2003-08-16' AS Date), N'Thống Nhất', N'0989890001', 0, N'nntp@gmail.com', NULL, 0, 0)
INSERT [dbo].[Customers] ([Id], [FamilyName], [GivenName], [DateOfBirth], [Address], [Phone], [Gender], [Email], [HashPassword], [IsActived], [IsDeleted]) VALUES (N'8ec41d47-6d8f-4f1f-9a0d-ff518cb2b83f', N'Trần', N'Ngân', CAST(N'2003-01-01' AS Date), N'Man Thiện', N'0987654556', 1, N'test@gmail.com', NULL, 0, 1)
GO
INSERT [dbo].[OrderItems] ([OrderId], [BookId], [Quantity], [Price], [IsDeleted]) VALUES (N'3d4c92f3-7d03-4244-8f45-4e98fadabfb6', N'358808bc-9c89-4431-8a5f-228bbbc86a6d', 1, CAST(59000 AS Decimal(8, 0)), 0)
INSERT [dbo].[OrderItems] ([OrderId], [BookId], [Quantity], [Price], [IsDeleted]) VALUES (N'3d4c92f3-7d03-4244-8f45-4e98fadabfb6', N'55c70857-c0a9-4710-9ed5-34d6abb2bd10', 3, CAST(44000 AS Decimal(8, 0)), 0)
INSERT [dbo].[OrderItems] ([OrderId], [BookId], [Quantity], [Price], [IsDeleted]) VALUES (N'd263c652-11fe-4e65-a6e1-887c5c9c4883', N'358808bc-9c89-4431-8a5f-228bbbc86a6d', 3, CAST(59000 AS Decimal(8, 0)), 0)
GO
INSERT [dbo].[Orders] ([Id], [StaffId], [CustomerId], [PromotionId], [CreatedTime], [ShippingFee], [PaymentMethod], [TotalAmount], [Status], [Note], [IsDeleted]) VALUES (N'3d4c92f3-7d03-4244-8f45-4e98fadabfb6', N'b1009370-afce-4e2c-9fe2-25d6a0012178', N'ba12c75c-c9e1-4bb0-a928-970e24032376', N'a38f02af-6754-40fd-bba1-3607bf60427a', CAST(N'2025-07-31T18:29:05.7706031' AS DateTime2), CAST(0.000 AS Decimal(11, 3)), N'Tiền mặt', CAST(162350.000 AS Decimal(11, 3)), N'Thành công', N'', 0)
INSERT [dbo].[Orders] ([Id], [StaffId], [CustomerId], [PromotionId], [CreatedTime], [ShippingFee], [PaymentMethod], [TotalAmount], [Status], [Note], [IsDeleted]) VALUES (N'd263c652-11fe-4e65-a6e1-887c5c9c4883', N'b1009370-afce-4e2c-9fe2-25d6a0012178', N'ba12c75c-c9e1-4bb0-a928-970e24032376', N'a38f02af-6754-40fd-bba1-3607bf60427a', CAST(N'2025-07-31T17:29:09.6446646' AS DateTime2), CAST(0.000 AS Decimal(11, 3)), N'Tiền mặt', CAST(1105850.000 AS Decimal(11, 3)), N'Thành công', NULL, 0)
INSERT [dbo].[Orders] ([Id], [StaffId], [CustomerId], [PromotionId], [CreatedTime], [ShippingFee], [PaymentMethod], [TotalAmount], [Status], [Note], [IsDeleted]) VALUES (N'224b2327-5e24-4957-9437-96ab8f2993fc', N'b1009370-afce-4e2c-9fe2-25d6a0012178', N'ba12c75c-c9e1-4bb0-a928-970e24032376', N'a38f02af-6754-40fd-bba1-3607bf60427a', CAST(N'2025-07-31T17:32:36.9339789' AS DateTime2), CAST(0.000 AS Decimal(11, 3)), N'Tiền mặt', CAST(320450.000 AS Decimal(11, 3)), N'Thành công', NULL, 0)
GO
INSERT [dbo].[Promotions] ([Id], [Name], [StartDate], [EndDate], [Condition], [DiscountPercent], [Quantity], [IsDeleted]) VALUES (N'da858eda-196e-45fb-8350-1845e2c67799', N'Khuyến Mãi Tháng 8', CAST(N'2025-08-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-08-31T00:00:00.0000000' AS DateTime2), CAST(50000 AS Decimal(8, 0)), CAST(0.10 AS Decimal(3, 2)), 100, 0)
INSERT [dbo].[Promotions] ([Id], [Name], [StartDate], [EndDate], [Condition], [DiscountPercent], [Quantity], [IsDeleted]) VALUES (N'a38f02af-6754-40fd-bba1-3607bf60427a', N'Khuyến Mãi Mùa hè', CAST(N'2025-05-14T00:00:00.0000000' AS DateTime2), CAST(N'2025-08-16T00:00:00.0000000' AS DateTime2), CAST(120000 AS Decimal(8, 0)), CAST(0.15 AS Decimal(3, 2)), 5, 0)
INSERT [dbo].[Promotions] ([Id], [Name], [StartDate], [EndDate], [Condition], [DiscountPercent], [Quantity], [IsDeleted]) VALUES (N'a87d963e-4c3e-491c-8c43-ab3e4792cf10', N'Khuyến Mãi Cuối Năm', CAST(N'2025-11-01T11:00:57.5100000' AS DateTime2), CAST(N'2025-12-31T11:00:57.5100000' AS DateTime2), CAST(60000 AS Decimal(8, 0)), CAST(0.20 AS Decimal(3, 2)), 11, 0)
GO
INSERT [dbo].[Publishers] ([Id], [Name], [IsDeleted]) VALUES (N'79994ae3-d421-4b92-b895-323c19e12db9', N'Nhà xuất bản Trẻ', 0)
INSERT [dbo].[Publishers] ([Id], [Name], [IsDeleted]) VALUES (N'fa196dad-e9a3-44b7-bef5-821ccb4b59fe', N'Phúc Não To', 1)
INSERT [dbo].[Publishers] ([Id], [Name], [IsDeleted]) VALUES (N'ccb3f633-58ff-44a2-9aa5-8d73fd35d39e', N'Nhà xuất bản Tự do', 1)
GO
INSERT [dbo].[Staffs] ([Id], [FamilyName], [GivenName], [DateOfBirth], [Address], [Phone], [Email], [CitizenIdentification], [HashPassword], [Role], [Gender], [IsActived], [IsDeleted]) VALUES (N'b1009370-afce-4e2c-9fe2-25d6a0012178', N'PTIT', N'Thien Phuc', CAST(N'2003-01-01' AS Date), N'Dong Nai', N'0397357111', N'n21dccn066@student.ptithcm.edu.vn', N'012345678900', N'$2a$11$FEzywhlztvk5wCfpMP0uwuQIJvVqPhvENymm4gg2eW9mcWSOMijrq', 1, 0, 1, 0)
INSERT [dbo].[Staffs] ([Id], [FamilyName], [GivenName], [DateOfBirth], [Address], [Phone], [Email], [CitizenIdentification], [HashPassword], [Role], [Gender], [IsActived], [IsDeleted]) VALUES (N'0437a958-8ee4-4adb-9741-34edaff87fe3', N'Nguyễn Ngọc Thiên', N'Phúc', CAST(N'1999-07-01' AS Date), N'Hưng Lộc', N'0987654446', N'phucnaoto@gmail.com', N'098789001232', N'$2a$11$0P42lRgKfcSSF8EAAcEs5uA.ecWykWSXBkhnbnBX9a4vivj8hje3a', 0, 0, 1, 0)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Book]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [IX_Book] UNIQUE NONCLUSTERED 
(
	[Isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Category]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [IX_Category] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Email]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [IX_Customer_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Customer_Phone]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [IX_Customer_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Promotion]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [IX_Promotion] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Publisher]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Publishers] ADD  CONSTRAINT [IX_Publisher] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_CI]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [IX_Staff_CI] UNIQUE NONCLUSTERED 
(
	[CitizenIdentification] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_Email]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [IX_Staff_Email] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Staff_Phone]    Script Date: 7/31/2025 6:57:23 PM ******/
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [IX_Staff_Phone] UNIQUE NONCLUSTERED 
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  CONSTRAINT [DF_AuditLogs_Timestamp]  DEFAULT (sysdatetime()) FOR [Timestamp]
GO
ALTER TABLE [dbo].[Authors] ADD  CONSTRAINT [DF_Author_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Authors] ADD  CONSTRAINT [DF_Author_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Book_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Books] ADD  CONSTRAINT [DF_Book_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customer_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customer_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customer_IsActived]  DEFAULT ((0)) FOR [IsActived]
GO
ALTER TABLE [dbo].[Customers] ADD  CONSTRAINT [DF_Customer_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[OrderItems] ADD  CONSTRAINT [DF_OrderItem_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Order_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Order_CreatedTime]  DEFAULT (sysdatetime()) FOR [CreatedTime]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Order_ShippingFee]  DEFAULT ((0.0)) FOR [ShippingFee]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Order_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotion_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Promotions] ADD  CONSTRAINT [DF_Promotion_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Publishers] ADD  CONSTRAINT [DF_Publisher_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Publishers] ADD  CONSTRAINT [DF_Publisher_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_Id]  DEFAULT (newid()) FOR [Id]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_Role]  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_IsActived]  DEFAULT ((0)) FOR [IsActived]
GO
ALTER TABLE [dbo].[Staffs] ADD  CONSTRAINT [DF_Staff_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Staffs]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Authors] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Authors] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Authors]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Categories] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Categories]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [FK_Books_Publishers] FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publishers] ([Id])
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [FK_Books_Publishers]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Books] FOREIGN KEY([BookId])
REFERENCES [dbo].[Books] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Books]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [FK_OrderItems_Orders] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [FK_OrderItems_Orders]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customers] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customers] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customers]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Promotions] FOREIGN KEY([PromotionId])
REFERENCES [dbo].[Promotions] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Promotions]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Staffs] FOREIGN KEY([StaffId])
REFERENCES [dbo].[Staffs] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Staffs]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Price] CHECK  (([Price]>(1000)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Price]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_Quantity]
GO
ALTER TABLE [dbo].[Books]  WITH CHECK ADD  CONSTRAINT [CK_YOP] CHECK  (([YearOfPublication]>(1500)))
GO
ALTER TABLE [dbo].[Books] CHECK CONSTRAINT [CK_YOP]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItem_Price] CHECK  (([Price]>(1000)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItem_Price]
GO
ALTER TABLE [dbo].[OrderItems]  WITH CHECK ADD  CONSTRAINT [CK_OrderItem_Quantity] CHECK  (([Quantity]>(0)))
GO
ALTER TABLE [dbo].[OrderItems] CHECK CONSTRAINT [CK_OrderItem_Quantity]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Condition] CHECK  (([Condition]>(1000)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotion_Condition]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_DiscountPercent] CHECK  (([DiscountPercent]>(0.0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotion_DiscountPercent]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotion_Quantity] CHECK  (([Quantity]>=(0)))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotion_Quantity]
GO
ALTER TABLE [dbo].[Promotions]  WITH CHECK ADD  CONSTRAINT [CK_Promotions_Date] CHECK  (([StartDate]<[EndDate]))
GO
ALTER TABLE [dbo].[Promotions] CHECK CONSTRAINT [CK_Promotions_Date]
GO
USE [master]
GO
